@model CityHospitalManagementSystem.Models.Admission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WardId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WardId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionType)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DischargeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DischargeDate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ward)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdmissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
